{% extends "layout.html.twig" %}


{% block title %}
	{{ parent() }} Admin
{% endblock %}

{% block content %}
  <div class="admin-top">
      <h1>Bienvenue dans l'espace admin</h1>

      <ul>
          <li class="item-nav" ><a href="/admin/commands/">Les commandes</a>
          <li class="item-nav"><a href="/admin/contacts/">Les contacts</a>
      </ul>
  </div>
{% endblock %}