{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Login
{% endblock %}

{% block content %}


	<div class="login_page">
		<div id="contact">
			<h1>Connectez-vous</h1>
			<!--Display messages when user enters email address-->
			<div class="box-msg">
				{% if success is not null %}
					<div class="success">
						<h1>{{ success }}</h1>
					</div>
				{% elseif errors is not null %}
					<div class="alert">
						<h1>{{ errors }}</h1>
					</div>
				{% endif %}

			</div>
			<form method="post" action ="/Login/login">
				<p>
					<i class="fa fa-user" aria-hidden="true"></i>
					<input class="champ" type="email" name="email" placeholder="Votre email"/>
				</p>

				<p>
					<i class="fas fa-lock"></i>
					<input class="champ" type="password" name="password" placeholder="Votre mot de passe"/>
				</p>

				<div class="connexion">
					<a href="#">Mot de passe oublié ?</a>
					<a href="/signup/signup">Pas encore enregistré ?</a>
				</div>
				<p id="connexion">
					<input class="bouton" type="submit" value="Connexion"/>
				</p>
				
			</form>
		</div>
	</div>
{% endblock %}
