{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Login
{% endblock %}

{% block content %}
	<div class="login_page">
		<div id="contact">
			<h1>Connectez-vous</h1>
			<div class="box-msg">
				{% if errors != NULL %}
					{% for error in errors %}
						<div class="alert">
							<p>{{ error }}</p>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<form method="post" action="/login/login">
				<p>
					<i class="fa fa-user" aria-hidden="true"></i>
					<input class="champ" type="email" name="email" placeholder="Votre email"/>
				</p>

				<p>
					<i class="fas fa-lock"></i>
					<input class="champ" type="password" name="password" placeholder="Votre mot de passe"/>
				</p>

				<div class="connexion">
					<a href="#">Mot de passe oublié ?</a>
					<a href="/signup/signup">Pas encore enregistré ?</a>
				</div>
				<p id="connexion">
					<input class="bouton" type="submit" value="Connexion"/>
				</p>
			</form>
		</div>
	</div>
{% endblock %}
