<footer>
	<div class="flex-container">
		<div class="item">
			<img src="/assets/images/mc-logo.png" id="footimg">

			<p>15 Rue de la fontaine 69258 Lyon</p>


			<p>contact@metisscooking.fr</p>

		</div>
		<div class="item">
			<h2>Notre blog !</h2>
			<p>Les menus du mois</p>
			<p>Manger bio pourquoi pas?</p>
			<p>E-cuisine :quezako!</p>
			<p>Aide jean a devenir un cuisinier pro</p>
		</div>

		<div class="item">
			<h2>Metis cooking</h2>
			<p>Contact</p>
			<p>Rejoingnez notre equipe</p>
			<p>Vos questions ?</p>
			<p>Aidez les sans abris</p>
			<p>Mentions legales</p>


		</div>

		<div class="item">
			<h2>A propros</h2>
			<p>Livraison</p>
			<p>Moyen de paiement</p>
			<p>Notre vision !</p>
			<p>Notre projet</p>
		</div>
		<div class="sponsor">
			<a href=""><img src="rhone.png" alt=""></a>
			<a href=""><img src="justeat.png" alt=""></a>
			<a href=""><img src="Uber_eats_logo_2017_06_22.jpg" alt=""></a>
		</div>


	</div>


</footer>
