<header>
    <nav class="main-header">

        <div class="logo">
            <a href="#"> <img src="/assets/images/logo/mc-logo.png" alt="logo"></a>
        </div>
        
        <div class="nav-links">
        <img src="/assets/images/menu.svg" alt="hamburger-logo" class="logo-menu">
            <ul class="liste-nav">
                <li class="item-nav" ><a href="/home/index">Acceuil</a>
                <li class="item-nav"><a href="/menu/cookers">Nos Menus</a>
                <li class="item-nav"><a href="#">Le Concept</a></li>
                <li class="item-nav"><a href="#">Blog </a></li>
                <li class="item-nav"><a href="contact/formulaire">Contact </a>
            </ul>
            
        </div>

        <div class="connect-btn">
            <a id="login" class="btn" href="/login/login">Se connecter</a>
            <a id="panier" class="btn" href="#">Panier</a>
        </div>

    </nav>
</header>
