:root {
  --black: #0000;
  --white: #ffff;
  --dark-marron: #683e38;
  --light-marron: #f9e6d0;
  --dark-green: #006400;
}

* {
  /* l'etoile (*) veut dire pas de marge, ni de bordure*/
  margin: 0;
  padding: 0;
  font-family: "Lato Black";
}

.contact_page {
  margin: 0;
  padding: 6rem 0 10rem 0;
  background-image: url(/assets/images/plat2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login_page {
  margin: 0;
  padding: 8rem 0;
  background-image: url(/assets/images/plat3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.signup_page {
  margin-top: 4rem;
  padding: 6rem 0;
  background-image: url(/assets/images/plat1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#contact {
  width: 500px;
  margin: auto;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--white);
  border-radius: 20px;
}
#contact h1 {
  font-size: 25px;
  color: var(--black);
  padding-top: 20px;
}
textarea{
  height: 18px;
}
.connexion{
  padding-top: 2rem;
}
.connexion a {
  padding: 0 1rem;
  font-size: 14px;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  color: var(--black);
}
#connexion, #send{
  border:none;
}

form p{
  border-bottom: 1px solid var(--black);
  margin: 2rem auto;
  width: min-content;
  padding-bottom: .5rem;
  display: flex;
}
form{
  padding: 0 0 2rem 0;
  text-align:center;
}
.champ {
  border: none;
  outline: none;
  font-size: 17px;
  color: var(--black);
  font-weight: bold;
  border-radius: 10px;
  width: auto;
  height: auto;
}

#contact .fa,#contact .fas{
  color : var(--black);
  padding-right: 5px;
}
.bouton {
  margin-top: 15px;
  background: var(--black);
  border-color: transparent;
  color: var(--white);
  font-size: 21px;
  font-weight: bold;
  border-radius: 20px;
  transition: .3s;
  padding: .5rem 1rem;
}
.bouton:hover {
  color: var(--light-marron);
  cursor: pointer;
}
#envelope{
  border: none;
  width: auto;
  display: flex;
  justify-content: center;
}

.box-msg {
  display: grid;
}
.fa-paper-plane{

  padding: 1.7rem 0 0 .5rem;
}
.box-msg .success {
  background-color: var(--dark-green);
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--white);
}
.box-msg .alert {
  background-color: var(--red);
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 499px) {
  #contact {
    width: 90%;
  }
}



/*===========
List contact
============*/
.list-contact{
  padding-top: 15rem;
  margin: auto;
  height: 100vh;
  width: 80%;
}

th{
  border: 2px solid black;
  padding: .25rem .5rem;
}

td{
  text-align:center;
  padding: 0 .5rem;
  border-bottom: 3px solid var(--dark-marron);
}


.list-contact h1{
  padding-bottom: 2rem;
  text-align: center;
  color : var(--dark-marron);
}

.admin-top{

  padding-top : 150px;
  text-align:center;
}
.admin-top ul li{
  list-style-type: none;
}
.admin-top a{
  text-decoration: none;
  font-size : xxx-large;
  color : var(--dark-marron);
}


.admin-top h1{
  margin: auto;
}