{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Signup
{% endblock %}

{% block content %}
<div class="signup_page">


	<div id="contact">
		<h1>Formulaire d'inscription</h1>
		<div class="box-msg">
			{% if success != NULL %}
				<div class="success">
					<h1>{{ success }}</h1>
				</div>
			{% elseif errors != NULL %}
				<div class="alert">
					<h1>{{ errors }}</h1>
				</div>
			{% endif %}
		<form method="post" action="/Signup/signup">
			<p>
				<i class="fa fa-user" aria-hidden="true"></i>
				<input class="champ" type="text" name="firstname" placeholder="Votre prénom"/>
			</p>

			<p>
				<i class="fa fa-user" aria-hidden="true"></i>
				<input class="champ" type="text" name="lastname" placeholder="Votre nom"/>
			</p>

			<p>
				<i class="fa fa-at" aria-hidden="true"></i>
				<input class="champ" type="email" name="email" placeholder="Votre email"/>
			</p>

			<p>
				<i class="fas fa-lock" aria-hidden="true"></i>
				<input class="champ" type="password" name="password" placeholder="Votre mot de passe"/>
			</p>

			<p id="send">
				<input class="bouton" type="submit" value="Enregistrer"/>
			</p>
		</form>
	</div>
</div>
{% endblock %}