{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} Mes commandes
{% endblock %}

{% block content %}

    <div class="box-command box-verif">

        <a href="/menu/cookers"><h2>retour au menu</h2></a>

        {% if success != NULL %}
            <div class="success">
                <i class="fas fa-check"></i> <h1>{{ success }}</h1>

            </div>
        {% endif %}

    </div>
{% endblock %}