{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }}Nos Menus
{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" href="/assets/css/choix_menu.css">
    
{% endblock %}



{% block content %}

  <h1 class="title_top_page">Nos Desserts</h1>

    <div class="menu_Desserts">

        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 01</h3>
        </div>

        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 02</h3>
        </div>
        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 03</h3>
        </div>
        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 04</h3>
        </div>

        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 05</h3>
        </div>

        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 06</h3>
        </div>
        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 07</h3>
        </div>
        <div class="title_Desserts">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Desserts">
            <h3>Desserts 08</h3>
        </div>

    </div>

{% endblock %}