{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }}Nos Menus
{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" href="/assets/css/choix_menu.css">
    
{% endblock %}



{% block content %}

 <h1 class="title_top_page">Nos Entrées</h1>

    <div class="menu_entry">

        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 01</h3>
        </div>

        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 02</h3>
        </div>
        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 03</h3>
        </div>
        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 04</h3>
        </div>

        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 05</h3>
        </div>

        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 06</h3>
        </div>
        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 07</h3>
        </div>
        <div class="title_entry">
            <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Entrees">
            <h3>Entrées 08</h3>
        </div>

    </div>

{% endblock %}