{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }}Nos Menus
{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" href="/assets/css/choix_menu.css">
    
{% endblock %}


{% block content %}


<h1 class="title_top_page">Nos Plats</h1>

<div class="menu_plats">

    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 01</h3>
    </div>

    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 02</h3>
    </div>
    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 03</h3>
    </div>
    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 04</h3>
    </div>

    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 05</h3>
    </div>

    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 06</h3>
    </div>
    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 07</h3>
    </div>
    <div class="title_plats">
        <img src="https://fakeimg.pl/200/ff0000,128/000,255" alt="Plats">
        <h3>Plats 08</h3>
    </div>

</div>
{% endblock %}