{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Contact
{% endblock %}

{% block content %}
<div class="contact_page">
	<!--Display messages when user enters email address-->
	<div class="box-msg">
		{% if success != NULL %}
			<div class="success">
				<h1>{{ success }}</h1>
			</div>
		{% elseif errors != NULL %}
			<div class="alert">
				<h1>{{ errors }}</h1>
			</div>
		{% endif %}

	</div>

	<div id="contact">
		<h1>Nous contacter</h1>

		<form method="post" action="/Contact/formulaire">
			<p>
				<i class="fa fa-user" aria-hidden="true"></i>
				<input class="champ" type="text" name="firstname" placeholder="Votre prénom"/>
			</p>

			<p>
				<i class="fa fa-user" aria-hidden="true"></i>
				<input class="champ" type="text" name="lastname" placeholder="Votre nom"/>
			</p>

			<p>
				<i class="fa fa-at" aria-hidden="true"></i>
				<input class="champ" type="email" name="email" placeholder="Votre email"/>
			</p>

			<p>
				<i class="fa fa-envelope-open" aria-hidden="true"></i>
				<textarea class="champ" name="comment" placeholder="Votre message"></textarea>
			</p>

			<p id="envelope">
				<input class="bouton" type="submit" value="Envoyer"/>
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
			</p>

		</form>
	</div>
</div>
{% endblock %}



