{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Contact
{% endblock %}


{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}


{% block content %}
	
	<div class="container">
		<div class="Top_contact_left">
			<h1>Contact</h1>
			<p>Vous avez une question ou une demande ?
Envoyez nous un message à contact@metis_cooking.fr ou utilisez le formulaire ci-dessous.</p> <br>
			<p>Votre demande est urgente ?</p>
			<p>Appelez-nous au 09 72 65 39 87</p>
		</div>
		<div class="Top_contact_right">
			<img src="/assets/images/trop_bon.png">
		</div>
	</div>

	<div class="container">
		<img src="/assets/images/couscous.jpeg">
	</div>

	<div class="container">
		<div class="container_left">

		<p>Contact</p>
			<form id="contactForm" action="" method="POST">				

				<div>
					<p><label for="firstname">Prénom</label></p>
					<input type="text" id="firstname" name="firstname" placeholder="Votre prénom">
				</div>

				<div>
					<p><label for="lastname">Nom</label></P>
					<input type="text" id="lastname" name="lastname" placeholder="Votre nom">
				</div>

				<div>
					<p><label for="email">E-mail</label></p>
					<input type="text" id="email" name="email" placeholder="Votre adresse mail">
				</div>

				<div>
					<p><label for="message">Message</label></p>
					<textarea id="message" type="text" name="message" placeholder="Votre message"></textarea>
				</div>

				<div>
					<input type="submit" value="Envoyer">
				</div>

			</form>

		</div>

		<div class="container_right">
			<img src="/assets/images/nems.jpeg">
		</div>

	</div>

	<div class="container">
		<p>Tenez-vous au courant de nos actus!</p>
	</div>

{% endblock %}
